
@charset "utf-8";


/*全端末（PC・タブレット・スマホ）共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/

h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form,select,input,textarea {margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;}
ul {list-style-type: none;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}
video,audio {max-width: 100%;}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #333;		/*リンクテキストの色*/
	transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
}
a:hover {
	color: #22ac38;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}







/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	padding-top: 40px;
	text-align: center;
	font-size: 85%;
}
footer .pr {display: block;font-size: 80%;}






h5{ 
 color: black;
 text-align: center;

margin: 60px auto 30px auto;
}



h1{ 
 color: black;
 text-align: center;
font-size: 5vw;
margin-bottom: 0.3vw;
margin-top: 1vw;
}

h1.top{ 
 color: black;
 text-align: center;
font-size: 10vw;
margin-bottom: 3vw;
margin-top: 1vw;
}

h1.cp{ 
 color: black;
 text-align: center;
font-size: 1vw;
margin-bottom: 1vw;
margin-top: 1vw;
margin-left: 1vw;
}

h1.t2{ 
 color: black;
 text-align: center;
font-size: 3vw;
margin-bottom: 1vw;
margin-top: 1vw;
}











input[type="date"] {
  position: relative;
  padding: 0 10px;
  width: 50vw;
  height: 15vw;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  font-size: 14px;
  color: #999;
}


label::before {
  position: absolute;
  content: "";
  top: 0;
  right: -43px;
  width: 36px;
  height: 36px;
  background-color: #06c;
  background-image: url("icon_calendar.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

input[type="date"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}
input[type="date"]::-webkit-clear-button{
  -webkit-appearance: none;
}



input[type="date"]::-webkit-calendar-picker-indicator{
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 0;
  width: 50vw;
  height: 15vw;
  background: rgba(255, 250, 0, 0.3); // 一旦背景色を付けて、見やすくします
  color: transparent;
  cursor: pointer;
}



.list select{
width: 100%; 
font-size: 5vw;
}

.box{
  position: relative;

   color: #000;
  -webkit-text-stroke: 1.5px #FFF;
  text-stroke: 1px #FFF;

}

.top-left {
  position: absolute;
  top: 5px;
  left: 5px;
  font-weight: bold;
}










